/* Layout general del Dashboard */
/* Dashboard */
.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.dashboard-card {
    background-color: var(--color-surface);
    padding: 25px;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    text-align: center;
}

.dashboard-card h3 {
    color: var(--color-primary);
}

/* Diseño adaptable para dispositivos móviles */
@media (max-width: 768px) {
    body {
        padding: 15px;
    }

    /* Navegación móvil */
    nav ul {
        flex-direction: column;
        width: 100%;
        text-align: center;
        gap: 15px;
    }

    nav {
        width: 100%;
    }

    /* Dashboard */
    .dashboard-grid {
        grid-template-columns: 1fr;
    }

    .dashboard-card {
        width: 100%;
    }

}